/*imports*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*fontSizes*/
/*font weights*/
/*fontStyle*/
.wrapper {
  max-width: 1170px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.top {
  background: #ffc038;
}

/**/
.toptext {
  display: flex;
}

.text__heading {
  font: 700 2.625em "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.text__heading:after {
  background: url("../img/bigarrowTop.png") center center no-repeat;
  content: "";
  top: -260px;
  left: -175px;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
}
.text__content {
  font: 300 1.0625em "Roboto", sans-serif;
  color: #fff;
  line-height: 30px;
  width: 80%;
}
.text__btn {
  width: 152px;
  height: 30px;
  padding: 10px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  margin: 0 0 50px 0;
  font: 400 1em "Roboto", sans-serif;
  position: relative;
  z-index: 1;
}
.text__btn:hover {
  background: #fff;
  transition: all 350ms ease-in;
  color: #000;
}
.text__ico {
  font-size: 25px;
  position: relative;
  top: 5px;
  margin: 0 0 0 30px;
}

/**/
.slideimg img {
  margin-top: 60px;
}

/**/
.topstripe {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.topstripe__list {
  margin: 88px 0 0 0;
  display: flex;
  list-style: none;
}
.topstripe__list--item {
  margin: 0 30px 0 0;
}
.topstripe__list--item a {
  text-decoration: none;
  font: 700 0.875em "Roboto", sans-serif;
  color: #464646;
  text-transform: uppercase;
}
.topstripe__list--item a span {
  font-size: 0.75em;
  text-align: center;
  display: block;
}
.topstripe__list--item a:hover {
  color: #fff;
  transition: all 350ms ease-in;
}
.topstripe__logo {
  margin: 76px 0 80px 0;
}

/**/
.features__btn {
  width: 332px;
  height: 55px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 141px auto 185px auto;
  font: 400 1.625em "Roboto", sans-serif;
  height: auto;
  padding: 10px;
  margin: 100px auto 125px auto;
}
.features__btn:after {
  background: url("../img/arrow.png") no-repeat;
  content: '';
  position: absolute;
  display: block;
  width: 72px;
  height: 113px;
  margin-top: -15px;
  right: 685px;
}

.featuressect {
  margin: 20px 50px 21px auto;
  padding: 10px;
}
.featuressect__head {
  font: 400 1.125em "Roboto", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}
.featuressect__text {
  font: 400 0.875em "Roboto", sans-serif;
  color: #000;
  line-height: 30px;
}
.featuressect__icos {
  float: left;
  margin: 0 15px 0 0;
  font-size: 20px;
}
.featuressect:hover {
  background: #fbc73a;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

.featuressectitems {
  display: flex;
  justify-content: space-between;
}
.featuressectitems .featuressect {
  width: 400px;
}

/**/
.whatwedosections__section1 {
  display: flex;
  margin: 0 0 130px 0;
}
.whatwedosections__section2 {
  display: flex;
}
.whatwedosections__section3 {
  display: flex;
  margin: 197px 0 130px 0;
}
.whatwedosections__btn {
  width: 332px;
  height: 55px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 141px auto 185px auto;
  font: 400 1.625em "Roboto", sans-serif;
  height: auto;
  padding: 10px;
}
.whatwedosections__btn:after {
  background: url("../img/arrow.png");
  content: '';
  position: absolute;
  display: block;
  width: 72px;
  height: 113px;
  right: 335px;
  top: 20px;
}

.whatwedosections__content {
  margin: 0 0 0 60px;
}
.whatwedosections__content--head {
  font: 700 1.25em "Roboto", sans-serif;
  color: #000;
  text-transform: uppercase;
}
.whatwedosections__content--firsttext {
  font: 400 0.875em "Roboto", sans-serif;
  color: #000;
  line-height: 30px;
}
.whatwedosections__content--second {
  font: 400 0.875em "Roboto", sans-serif;
  color: #000;
  line-height: 30px;
}
.whatwedosections__content--btn {
  width: 151px;
  height: 50px;
  background: #ffc038;
  font: 700 0.8125em "Roboto", sans-serif;
  color: #3a3a3a;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

/**/
.howWeWork {
  background: url("../img/howWeWorkBg.jpg") center center no-repeat;
  background-size: cover;
}
.howWeWork__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.howWeWork__content--btn {
  width: 332px;
  height: 55px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 141px auto 185px auto;
  font: 400 1.625em "Roboto", sans-serif;
  height: auto;
  padding: 10px;
  margin: 85px auto 142px auto;
}
.howWeWork__content--btn:after {
  background: url("../img/arrowleft.png");
  content: '';
  position: absolute;
  margin: -18px 0 0 0;
  display: block;
  width: 72px;
  height: 113px;
  left: 690px;
}
.howWeWork__content--image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0 0 80px 0;
}

/**/
.packages {
  margin: auto auto 70px auto;
}
.packages__btn {
  width: 332px;
  height: 55px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 141px auto 185px auto;
  font: 400 1.625em "Roboto", sans-serif;
  height: auto;
  padding: 10px;
}
.packages__btn:after {
  background: url("../img/arrowleft.png") no-repeat;
  content: '';
  position: absolute;
  display: block;
  width: 72px;
  height: 113px;
  top: 25px;
  left: 330px;
}

.packagessection {
  display: flex;
  margin: 0 0 30px 0;
  justify-content: space-between;
}
.packagessection__package1--head {
  font: 400 1.375em "Roboto", sans-serif;
  color: #a5a5a5;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
.packagessection__package1--btn {
  width: 192px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background: #a5a5a5;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  font: 400 1em "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.packagessection__package1--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.packagessection__package1--list__item {
  margin: 0 0 15px;
}
.packagessection__package1--list__item a {
  text-decoration: none;
  font: 400 1em "Roboto", sans-serif;
  color: #a5a5a5;
  text-align: center;
  display: block;
}
.packagessection__package2--head {
  font: 400 1.6875em "Roboto", sans-serif;
  color: #f26c4f;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
.packagessection__package2--btn {
  width: 215px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background: #f26c4f;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  font: 400 1.125em "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.packagessection__package2--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.packagessection__package2--list__item {
  margin: 0 0 15px;
}
.packagessection__package2--list__item a {
  text-decoration: none;
  font: 400 1.125em "Roboto", sans-serif;
  color: #363636;
  text-align: center;
  display: block;
}
.packagessection__package3--head {
  font: 400 1.375em "Roboto", sans-serif;
  color: #ffc038;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.packagessection__package3--btn {
  width: 192px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background: #ffc038;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  font: 400 1em "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.packagessection__package3--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.packagessection__package3--list__item {
  margin: 0 0 15px;
}
.packagessection__package3--list__item a {
  text-decoration: none;
  font: 400 1em "Roboto", sans-serif;
  color: #a5a5a5;
  text-align: center;
  display: block;
}

/**/
/**/
.history {
  background: url("../img/historyBg.jpg") center center no-repeat;
  background-size: cover;
}

.historytext {
  display: flex;
}
.historytext__image {
  padding: 65px 0 65px 0;
}
.historytext__imagetext {
  padding: 65px 0 0 0;
}
.historytext__imagetext--heading {
  background: #464646;
  color: #fff;
  text-transform: uppercase;
  width: 50%;
  margin-left: 21px;
  text-align: center;
  line-height: 55px !important;
  height: 55px;
  font: 400 1.625em "Roboto", sans-serif;
}
.historytext__imagetext--text {
  margin-left: 21px;
  line-height: 30px !important;
  color: #363636;
  font: 400 1em "Roboto", sans-serif;
}
.historytext__imagetext--btn {
  width: 192px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background: #ffc038;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  font: 400 1em "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 15px;
  border-radius: 0px !important;
  width: 189px;
  height: 43px;
  line-height: 43px !important;
  color: #3a3a3a;
  font: 700 .8125em Roboto,sans-serif;
}

/**/
.members {
  background: #ffc038;
  padding: 30px;
}
.members__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.members__btn {
  width: 332px;
  height: 55px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 141px auto 185px auto;
  font: 400 1.625em "Roboto", sans-serif;
  height: auto;
  padding: 10px;
}
.members__btn:after {
  background: url("../img/arrowLeft.png") no-repeat;
  content: '';
  position: absolute;
  display: block;
  margin: -10px 0 0 0;
  width: 72px;
  height: 113px;
  left: 685px;
}

.memberslist__text {
  text-align: center;
}
.memberslist__text--head {
  font: 700 1em "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0 21px 0;
  text-decoration: none;
  text-align: center;
}
.memberslist__text--smalltext {
  font: 200 1em "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

/**/
.projectssection {
  display: flex;
  background: #f4f4f4;
}
.projectssection__items {
  justify-content: space-between;
}
.projectssection__items--firstsect {
  justify-content: space-between;
  display: inline-flex;
}
.projectssection__items--firstsect div {
  width: 306px;
  text-align: center;
}
.projectssection__items--firstsect div p {
  font: 700 1em "Roboto", sans-serif;
  color: #6a6a6a;
}
.projectssection__items--secondsection {
  display: inline-flex;
  justify-content: space-between;
}
.projectssection__items--secondsection div {
  width: 306px;
  text-align: center;
}
.projectssection__items--secondsection div p {
  font: 700 1em "Roboto", sans-serif;
  color: #6a6a6a;
}

.projects__btn {
  width: 332px;
  height: 55px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 141px auto 185px auto;
  font: 400 1.625em "Roboto", sans-serif;
  height: auto;
  padding: 10px;
  width: 30%;
}
.projects__btn:after {
  background: url("../img/arrow.png") no-repeat;
  content: '';
  position: absolute;
  display: block;
  width: 72px;
  margin-top: -10px;
  height: 113px;
  right: 580px;
}

/**/
.updatessupport {
  display: flex;
}
.updatessupport__cont--text {
  font: 300 1em "Roboto", sans-serif;
  color: #363636;
  width: 65%;
  line-height: 24px;
}
.updatessupport__cont--btn {
  width: 192px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background: #ffc038;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  font: 400 1em "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.updates__heading {
  display: flex;
  justify-content: center;
  width: 332px;
  height: 55px;
  display: block;
  background: #464646;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 141px auto 185px auto;
  font: 400 1.625em "Roboto", sans-serif;
  height: auto;
  padding: 10px;
}
.updates__heading:after {
  background: url("../img/arrow.png") no-repeat;
  content: '';
  position: absolute;
  display: block;
  width: 72px;
  height: 113px;
  margin-top: -5px;
  right: 670px;
}

/**/
.hireus img {
  width: 100%;
}
.hireus__text {
  display: flex;
  justify-content: space-between;
  background: #ffc038;
  padding: 20px;
  margin: -5px 0 0 0;
}
.hireus__text--head {
  font: 700 1.375em "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  line-height: 50px;
  padding: 0 0 0 50px;
}
.hireus__text--btn {
  width: 159px;
  height: 47px;
  background: #fff;
  font: 700 1.25em "Roboto", sans-serif;
  text-transform: uppercase;
  color: #000;
  text-transform: uppercase;
  line-height: 47px;
  text-align: center;
  text-decoration: none;
}

.hireussec {
  margin: 153px auto 139px auto;
}

/**/
.bottomsections {
  padding: 47px 0 0 0;
}

.psection__head {
  font: 500 1.125em "Roboto", sans-serif;
  color: #e6e9ed;
  text-transform: uppercase;
}
.psection__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.psection__list--item {
  margin: 0 0 10px 0;
}
.psection__list--item a {
  font: 300 1em "Roboto", sans-serif;
  color: #f4f4f4;
  text-decoration: none;
}

.asection__head {
  font: 500 1.125em "Roboto", sans-serif;
  color: #e6e9ed;
  text-transform: uppercase;
}
.asection__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.asection__list--item {
  margin: 0 0 10px 0;
}
.asection__list--item a {
  font: 300 1em "Roboto", sans-serif;
  color: #f4f4f4;
  text-decoration: none;
}

.gsection__head {
  font: 500 1.125em "Roboto", sans-serif;
  color: #e6e9ed;
  text-transform: uppercase;
}
.gsection__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gsection__list--item {
  margin: 0 0 10px 0;
}
.gsection__list--item a {
  font: 300 1em "Roboto", sans-serif;
  color: #f4f4f4;
  text-decoration: none;
}

.csection__head {
  font: 500 1.125em "Roboto", sans-serif;
  color: #e6e9ed;
  text-transform: uppercase;
}
.csection__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.csection__list--item {
  margin: 0 0 10px 0;
}
.csection__list--item a {
  font: 300 1em "Roboto", sans-serif;
  color: #f4f4f4;
  text-decoration: none;
}

.bottomsections {
  display: flex;
  justify-content: space-around;
}

.socialicos {
  display: flex;
  justify-content: center;
}
.socialicos__list {
  display: flex;
  list-style: none;
  padding: 25px 0 0 0;
}
.socialicos__list--item {
  margin: 0 30px 0 0;
}
.socialicos__list--item a {
  color: #ffc038;
  font-size: 40px;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 28px 0 34px 0;
  margin: 0;
  font: 300 1em "Roboto", sans-serif;
  color: #f4f4f4;
}

footer {
  background-color: #363636;
}
