/*imports*/
@import '../sass/helpers/__reset.scss'; 
@import '../sass/helpers/__functions.scss'; 
@import '../sass/helpers/__typography.scss'; 
@import '../sass/helpers/__mixins.scss';
@import '../sass/helpers/__colors.scss';
@import '../sass/helpers/__wrapper.scss';
@import '../sass/components/__buttons.scss';
.top {
    background: $topstripecolor;
}
/**/
.toptext {
    display: flex;
}
.text {
    &__heading {
        @include topHeadImage;
        &:after {
            background: url("../img/bigarrowTop.png") center center no-repeat;
            content: "";
            top: -260px;
            left: -175px;
            right: 0;
            bottom: 0;
            position: absolute;
            display: block;
        }
    }
    &__content{
        @include contentConent;
    }
    &__btn {
        @include btnTopSlide;
        position: relative;
        z-index: 1;
        &:hover {
            background: #fff;
            transition: all 350ms ease-in;
            color: #000;
        }
    }
    &__ico{
        font-size: 25px;
        position: relative;
        top: 5px;
        margin: 0 0 0 30px;
    }
}
/**/
.slideimg {
    img {
        margin-top: 60px;
    }
}
/**/
.topstripe {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    &__list {
        margin: 88px 0 0 0;
        display: flex;
        list-style: none;
        &--item {
            margin: 0 30px 0 0;
            a {
                @include topListItemFont;
                span{
                    font-size: em($font-size-twelve_pixels);
                    text-align: center;
                    display: block;
                }
                &:hover {
                    color: #fff;
                    transition: all 350ms ease-in;
                }
            }
        }
    }
    &__logo {
        margin: 76px 0 80px 0;
    }
}
/**/
.features {
    &__btn {
        @include btnWhatWeDo;
        height: auto;
        padding: 10px;
        margin: 100px auto 125px auto;
        &:after {
            background: url("../img/arrow.png") no-repeat ;
            content: '';
            position: absolute;
            display: block;
            width: 72px;
            height: 113px;
            margin-top: -15px;
            right: 685px;
        }
    }
}
.featuressect {
    margin: 20px 50px 21px auto;
    padding: 10px;
    &__head {
        font: $normal-weight em($font-size-eighteen_pixels) 'Roboto', sans-serif;
        color: #000;
        margin: 0;
        padding: 0;
    }
    &__text {
        font: $normal-weight em($font-size-fourteen_pixels) 'Roboto', sans-serif;
        color: #000;
        line-height: 30px;
    }
    &__icos {
        float: left;
        margin: 0 15px 0 0;
        font-size: 20px;
    }
    &:hover {
        background: #fbc73a;
        cursor: pointer;
        padding: 10px;
        color: #fff;
    }
}
.featuressectitems {
    display: flex;
    justify-content: space-between;
    .featuressect {
        width: 400px;
    }
}
/**/
.whatwedosections {
    &__section1 {
        display: flex;
        margin: 0 0 130px 0;
    }
    &__section2{
        display: flex;
    }
    &__section3{
        display: flex;
        margin: 197px 0 130px 0;
    }
    &__btn {
        @include btnWhatWeDo;
        height: auto;
        padding: 10px;
        &:after {
            background: url("../img/arrow.png") ;
            content: '';
            position: absolute;
            display: block;
            width: 72px;
            height: 113px;
            right: 335px;
            top: 20px;
        }
    }
}
.whatwedosections__content {
    margin: 0 0 0 60px;
     &--head {
            font: $bold-weight em($font-size-twenty_pixels) 'Roboto', sans-serif;
            color: #000;
            text-transform: uppercase;
        }
        &--firsttext{
            font: $normal-weight em($font-size-fourteen_pixels) 'Roboto', sans-serif;
             color: #000;
             line-height:30px;
        }
        &--second{
            font: $normal-weight em($font-size-fourteen_pixels) 'Roboto', sans-serif;
             color: #000;
             line-height:30px;
        }
        &--btn {
            width: 151px;
            height: 50px;
            background: #ffc038;
            font: $bold-weight em($font-size-thirteen_pixels) 'Roboto', sans-serif;
            color: #3a3a3a;
            text-align: center;
            line-height: 50px;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
        }
}
/**/
.howWeWork {
    background: url("../img/howWeWorkBg.jpg") center center no-repeat;
    background-size: cover;
    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &--btn {
            @include btnWhatWeDo;
            height: auto;
            padding: 10px;
                margin: 85px auto 142px auto;
        &:after {
            background: url("../img/arrowleft.png") ;
            content: '';
            position: absolute;
            margin:-18px 0 0 0;
            display: block;
            width: 72px;
            height: 113px;
            left: 690px;
        }
      }
     &--image {
            max-width: 100%;
            margin: 0 auto;
            display: block;
            padding: 0 0 80px 0;
        }
    }
}
/**/
.packages {
    margin: auto auto 70px auto;
    &__btn {
            @include btnWhatWeDo;
        height: auto;
        padding: 10px;
        &:after {
            background: url("../img/arrowleft.png") no-repeat;
            content: '';
            position: absolute;
            display: block;
            width: 72px;
            height: 113px;
            top: 25px;
            left: 330px;
        }
    }
}
.packagessection {
    display: flex;
    margin: 0 0 30px 0;
    justify-content: space-between;
     &__package1 {
         &--head {
             font: $normal-weight em($font-size-twentytwo_pixels) 'Roboto', sans-serif;
             color: #a5a5a5;
             text-align: center;
             padding: 0;
             margin: 0 auto;
         }
        &--btn {
            @include greybtn;
        }
         &--list {
             list-style: none;
             margin: 0;
             padding: 0;
             &__item {
               margin: 0 0 15px;
                 a{
                 text-decoration: none;
                 font: $normal-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                 color: #a5a5a5;
                  text-align: center;
                      display: block;
                 }
             }
         }
    }
    &__package2 {
        &--head {
              font: $normal-weight em($font-size-twentyseven_pixels) 'Roboto', sans-serif;
             color: #f26c4f;
            text-align: center;
               padding: 0;
             margin: 0 auto;
        }
        &--btn {
            @include redbtn;
        }
        &--list {
             list-style: none;
             margin: 0;
             padding: 0;
             &__item {
                 margin: 0 0 15px;
                 a{
                 text-decoration: none;
                 font: $normal-weight em($font-size-eighteen_pixels) 'Roboto', sans-serif;
                 color: #363636;
                  text-align: center;
                      display: block;
                 }
             }
         }
    }
    &__package3 {
        &--head {
             font: $normal-weight em($font-size-twentytwo_pixels) 'Roboto', sans-serif;
             color: #ffc038; 
                padding: 0;
             margin: 0 auto;
            text-align: center;
        }
         &--btn {
            @include yellowbtn;
        }
       &--list {
             list-style: none;
             margin: 0;
             padding: 0;
             &__item {
                 margin: 0 0 15px;
                 a{
                 text-decoration: none;
                 font: $normal-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                 color: #a5a5a5;
                  text-align: center;
                     display: block;
                 }
             }
         }
    }
}
/**/
/**/
.history {
    background: url("../img/historyBg.jpg") center center no-repeat;
    background-size: cover;
}
.historytext {
    display: flex;
    &__image {
        padding: 65px 0 65px 0;
    }
    &__imagetext {
        padding: 65px 0 0 0;
        &--heading {
            background: #464646;
            color: #fff;
            text-transform: uppercase;
            width: 50%;
            margin-left: 21px;
            text-align: center;
            line-height: 55px !important;
            height: 55px;
            font: $normal-weight em($font-size-twentysix_pixels) 'Roboto', sans-serif;
        }
        &--text {
            margin-left: 21px;
            line-height: 30px !important;
            color: #363636;
            font: $normal-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
        }
        &--btn {
            @include yellowbtn;
            margin: 0 0 0 15px;
            border-radius: 0px !important;
            width: 189px;
            height: 43px;
            line-height: 43px !important;
            color: #3a3a3a;
            font: 700 .8125em Roboto,sans-serif;
        }
    }

}
/**/
.members {
    background: $topstripecolor;
    padding: 30px;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    &__btn {
        @include btnWhatWeDo;
        height: auto;
        padding: 10px;
         &:after {
            background: url("../img/arrowLeft.png") no-repeat ;
            content: '';
            position: absolute;
            display: block;
            margin: -10px 0 0 0;
            width: 72px;
            height: 113px;
            left: 685px;
        }
    }
}
.memberslist__text {
text-align: center;
 &--head {
        font: $bold-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding: 20px 0 21px 0;
        text-decoration: none;
         text-align: center;
    }
    &--smalltext {
        font: $extralight-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

}
/**/
.projectssection {
    display: flex;
    background: $projectColor;
    &__items {
        justify-content: space-between;
        &--firstsect {
            justify-content: space-between;
            display: inline-flex;
            div {
                width: 306px;
                text-align: center;
                  p {
                font: $bold-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                color: #6a6a6a;
            }
            }
          
        }
        &--secondsection {
            display: inline-flex;
            justify-content: space-between;
                 div {
                width: 306px;
                text-align: center;
                   p {
                font: $bold-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                color: #6a6a6a;
            }
            }

        }
    }
}
.projects {
    &__btn {
         @include btnWhatWeDo;
         height: auto;
         padding: 10px;
         width: 30%;
         &:after {
            background: url("../img/arrow.png") no-repeat ;
            content: '';
            position: absolute;
            display: block;
            width: 72px;
            margin-top: -10px;
            height: 113px;
            right: 580px;
        }
    }
}
/**/
.updatessupport {
    display: flex;
    &__cont{
        &--text {
            font: $light-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
            color: #363636;
            width: 65%;
            line-height: 24px;
        }
        &--btn {
            @include yellowbtn;
        }
    }
}
.updates {
    &__heading {
        display: flex;
        justify-content: center;
        @include btnWhatWeDo;
        height: auto;
        padding: 10px;
         &:after {
            background: url("../img/arrow.png") no-repeat;
            content: '';
            position: absolute;
            display: block;
            width: 72px;
            height: 113px;
            margin-top: -5px;
            right: 670px;
        }
    }
}
/**/
.hireus {
    img {
        width: 100%;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        background: $topstripecolor;
        padding: 20px;
        margin: -5px 0 0 0;
        &--head {
            @include hireusheading;
            line-height: 50px;
            padding: 0 0 0 50px;
        }
        &--btn {
            @include hireusbtn;
        }
    }
}
.hireussec {
    margin: 153px auto 139px auto;
}
/**/
.bottomsections {
    padding: 47px 0 0 0;
}
.psection {
    &__head {
        @include footerHeading;
    }
    &__list {
        list-style: none; 
        padding: 0;
        margin: 0;
        &--item{
            margin: 0 0 10px 0;
            a {
                font: $light-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                 color: $projectColor;
                  text-decoration: none;
            }
        }
    }
}
.asection {
    &__head {
        @include footerHeading;
    }
    &__list {
        list-style: none; 
        padding: 0;
        margin: 0;
         &--item{
            margin: 0 0 10px 0;
            a {
                font: $light-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                 color: $projectColor;
                  text-decoration: none;
            }
        }
    }
}
.gsection {
     &__head {
        @include footerHeading;
    }
    &__list {
        list-style: none; 
        padding: 0;
        margin: 0;
         &--item{
            margin: 0 0 10px 0;
            a {
                font: $light-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                 color: $projectColor;
                  text-decoration: none;
            }
        }
    }
}
.csection {
     &__head {
        @include footerHeading;
    }
     &__list {
        list-style: none; 
        padding: 0;
        margin: 0;
         &--item{
                 margin: 0 0 10px 0;
            a {
                font: $light-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
                 color: $projectColor;
                 text-decoration: none;
            }
        }
    }
}
.bottomsections {
    display: flex;
    justify-content: space-around;
}
.socialicos {
    display: flex;
    justify-content: center;
    &__list{
        display: flex;
        list-style: none; 
        padding: 25px 0 0 0; 
        &--item {
            margin: 0 30px 0 0;
        a {
            color: $topstripecolor;
            font-size: 40px;
            text-decoration: none;
        }
        }

    }
}
.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 28px 0 34px 0;  
    margin: 0;
    font: $light-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
    color: $projectColor;
}
footer {
    background-color:  $footerColor;
}