@mixin hireusbtn {
    width: 159px;
    height: 47px;
    background: $whiteColor;
      font: $bold-weight em($font-size-twenty_pixels) 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-transform: uppercase;
    line-height: 47px;
    text-align: center;
    text-decoration: none;
}
@mixin btnTopSlide {
    width: 152px;
    height: 30px;
    padding: 10px;
    display: block;
    background: $topBtnBg;
    text-decoration: none;
    color: $whiteColor;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    margin: 0 0 50px 0;
    font: $normal-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
}
@mixin btnWhatWeDo {
    width: 332px;
    height: 55px;
    display: block;
    background: $topBtnBg;
    text-decoration: none;
    color: $whiteColor;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 141px auto 185px auto;
    font: $normal-weight em($font-size-twentysix_pixels) 'Roboto', sans-serif;
}
@mixin yellowbtn {
    font: $bold-weight em($font-size-twelve_pixels) 'Roboto', sans-serif;
    width: 188px;
    height: 47px;
    background: #ffc038;
    display: block;
    line-height: 47px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
@mixin redbtn {
    width: 215px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background: #f26c4f;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    font: $normal-weight em($font-size-eighteen_pixels) 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    
}
@mixin greybtn {
      width: 192px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background: #a5a5a5;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    font: $normal-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
}
@mixin yellowbtn {
      width: 192px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background: #ffc038;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    font: $normal-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
}