@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin footerHeading {
    font: $medium-weight em($font-size-eighteen_pixels) 'Roboto', sans-serif;
    color: $footerHeading;
    text-transform: uppercase;
}
@mixin footerListFont {
    font: $light-weight em($font-size-sixteen_pixels) 'Roboto', sans-serif;
    color: #aab2bd;
}
@mixin hireusheading {
    font: $bold-weight em($font-size-twentytwo_pixels) 'Roboto', sans-serif;
    color: $whiteColor;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
@mixin topListItemFont {
    text-decoration: none;
    font: $bold-weight em($font-size-fourteen_pixels) 'Roboto', sans-serif;
    color: $topFontColorItem;
    text-transform: uppercase;
}
@mixin topHeadImage {
    font: $bold-weight em($font-size-fortytwo_pixes) 'Roboto', sans-serif;
    text-transform: uppercase;
    color: $whiteColor;
}
@mixin contentConent {
    font: $light-weight em($font-size-seventeen_pixels) 'Roboto', sans-serif;
    color: $whiteColor;
    line-height: 30px;
    width: 80%;
}